@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #101010;
    color: #fff;
}

#search {
    margin: 2em;
    background: #cccccc;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: .25em .5em;
    line-height: 22px;
    font-size: 18px;
}

#list {
    margin: 0 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
}

#list > button {
    min-width: 10px;
    min-height: 10px;
    border-radius: 3px;
    border: none;
    background: transparent;
    color: #cccccc;
    cursor: default;
    padding: 3px;
    outline: none;
}

#list > button:hover {
    background: #292929;
    color: #fff;
}

#list > button:active {
    background: #1d1d1d;
}

#copy {
    color: transparent;
    background: transparent;
    border: none;
    outline: none;
}
